:host {
  display: block;
  margin-top: 1rem;
}

.my-container {
  width: 650px;
  margin: auto;
}

mat-spinner {
  margin: auto;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-form-field {
  width: 35%;
}

table {
  margin: auto;
  align-self: center;
  width: 100%;
}

.info-text {
  text-align: center;
}
